.gitignore
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.test.ts
temp.ts
.yml
test
tests
src
source
tsconfig.json
typings.json
tslint.json
.editorconfig
.eslintrc.json
.prettierrc
.config.json
.vscode
.github
